<mat-card-header class="purple-break">
</mat-card-header>
<div class="break-30">
</div>
<section class="mat-typography">
    <h2>Portfolio</h2>
</section>
<div class="break-30">
</div>

<div class="flex-container all-center">
    <div class="flex-item" *ngFor="let cover of albumListTemp">
        <mat-card>
            <a routerLink="/album/{{cover.id}}"><img mat-card-image src="{{cover.linkToMainPictureMiniature}}"></a>
        </mat-card>
        <div style="clear: left;"></div>
    </div>
</div>
<div>
    <button mat-raised-button class="goright" color="primary" routerLink="/galleries">back</button>
</div>
