<mat-card-header class="hero-image">
</mat-card-header>
<section class="mat-typography">
    <h1>Contact</h1>
</section>
<mat-tab-group class="table-contact">
    <mat-tab label="e-mail"> <i class="material-icons">
            email
        </i> annaandrzejewskagodecka@o2.pl </mat-tab>
    <mat-tab label="phone number"> <i class="material-icons">
            call
        </i> +48 505 309 314 </mat-tab>
    <mat-tab label="adress"> <i class="material-icons">
            location_on
        </i> Będzin </mat-tab>
</mat-tab-group>