.stepper {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 5%;
    padding-top: 2%;
}

.content-center-about-me {
  margin: auto;
  max-width: 1450px;
}
.purple-spacing-aboutme {
  background-color: #673ab7;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 2%;
}
 