.sticker {
    position: fixed;
	right: 0;
	top: 50%;
	display: flex;
    flex-flow: nowrap;
    background-color: #fff;
    box-shadow: 0 0 12px -3px #434854;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    // transition: all .1s ease-out;
}
.icons {
    cursor: pointer;
      width: 24px;
      height: 24px;
    //   transform: scale(1.8);
      color: #673ab7;
      margin: 10px;
  }