<div class='container-fluid' style="position: relative; min-height: 100vh;">
    <div class='row' style="padding-bottom: 2.5rem;">
        <app-navi></app-navi>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>
<div class="sticker">
<mat-list>
        <a href="https://www.linkedin.com/in/anna-andrzejewska-godecka-27468013b/" target="_blank"> <mat-list-item> <mat-icon svgIcon="linkedin" class="icons"></mat-icon>  </mat-list-item> </a>
        <a href="https://www.facebook.com/RhiannonArts" target="_blank">  <mat-list-item> <mat-icon svgIcon="facebook" class="icons"></mat-icon> </mat-list-item></a>
        <a href="https://www.instagram.com/rhiannon_arts" target="_blank"> <mat-list-item> <mat-icon svgIcon="instagram" class="icons"></mat-icon></mat-list-item></a>
        <a href="https://twitter.com/RhiannonAnna" target="_blank"> <mat-list-item> <mat-icon svgIcon="twitter" class="icons"></mat-icon>  </mat-list-item></a>
 </mat-list>       
</div>