<mat-card-header class="hero-image">
  <section class="mat-typography">
    <h1>I'm Anna Andrzejewska-Godecka</h1>
    <h3>And this is my portfolio</h3>
    <button mat-flat-button routerLink="/gallery">go</button>
  </section>
</mat-card-header>
<div class="break2">
  <section class="mat-typography">
    <h2>About me</h2>
  </section>
</div>

<div class="style1">
  <div class="content-all"></div>
  <span>
    <mat-card class="sizecontent">
      <img mat-card-image src="../assets/ux640px.jpg" alt="Photo of wireframes">
    </mat-card>
  </span>
  <span>
    <mat-card class="flex-item textwithin">
      <mat-card-content>
        <h3>Hello</h3>
        <p>I am Anna, a multi-disciplinary designer. <br>
          I'm UX and UI designer, Graphic designer and Web designer. </p>
        <!-- <div style="clear: left;"></div> -->
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" routerLink="/aboutme">READ MORE</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </span>
</div>
<mat-card-header class="purple">
</mat-card-header>
<section class="mat-typography">
  <h2>My work</h2>
</section>
<div class="flex-container content2">
  <div class="flex-item">
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Graphic design</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/GraphicItem.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Graphic design, Illustration, Digital Painting, Branding, Infographics, Print design, Typography.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button routerLink="/gallery" color="primary">SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="flex-item">
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>UX/UI design</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/UXItem.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          User Interface, User experience, User-Centered Design, Human-Centered Design, User Research, Design Thinking,
          Typography.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button routerLink="/gallery" color="primary">SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="flex-item">
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Photography</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/photoItem.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Photography: landscape, portrait, cosplay, retouch.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button routerLink="/gallery" color="primary">SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="break">
</div>
<mat-card-header class="purple">
</mat-card-header>
<section class="mat-typography">
  <h2>Contact</h2>
</section>
<div class="flex-container content-all">
  <div class="flex-item">
    <mat-card class="sizecontent">
      <img mat-card-image src="../assets/contact-me.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div class="flex-item">
    <mat-card>
      <mat-icon class="fix-icon">email</mat-icon>e-mail: <p>annaandrzejewskagodecka@o2.pl</p>
    </mat-card>
    <mat-card>
      <mat-icon class="fix-icon">call</mat-icon>phone:<p> +48 505 309 314</p>
    </mat-card>
    <mat-card>
      <mat-icon class="fix-icon">location_on</mat-icon>location:<p>Będzin</p>
    </mat-card>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" routerLink="/contact">READ MORE</button>
    </mat-card-actions>
  </div>
</div>
<div class="break">
</div>