.logo1 {
  cursor: pointer;  
  width: 24px;
  height: 24px;
  transform: scale(1.8);
  margin-right: 15px;
  margin-left: 125px;
}
.custom-nav-class {
  width: 100%;
  margin: auto;
  z-index:10;
  padding-top: 0px;
}