h1 {
    flex: 1;
    text-align: center;
    padding: 12px;
}
h2 {
    flex: 1;
    text-align: center;
    padding: 12px;
    font-size: 34px;
}
h3{
    flex: 1;
    text-align: center;
}

.main-graphic {
    cursor: pointer;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

 
 