/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//FlexBox
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.flex-item {
    margin: 20px 20px;
}
//Body
body {
    margin: 0 auto;
}

.break-200 {
    margin: 200px;
  }
.break-100 {
    margin: 100px;
  }
.break-50 {
    margin: 50px;
  }

h1, h2, h3, p {
    color: #673ab7;
}
.break-30 {
    margin: 30px;
  }

.purple-break {
    background-color: #673ab7;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 1%;
  }

@media (max-width: 767px) {
    .hide-on-mobiles {
        display: none;
        margin: auto;
    }
}
@media (min-width: 767px) {
    .hide-on-desktop {
        display: none;
        margin: auto;
    }
}